<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
    <title>Edit Doctor</title>
</head>
<body>
<div th:replace="fragments :: bootstrap_dependencies"></div>
<div th:replace="fragments :: navbar"></div>
<div>
    <h1 class="text-center font-weight-bold mt-lg-4">Edit Doctor</h1>
</div>
<form th:action="@{/doctors/save}" method="post" class="justify-content-center mt-lg-2" style="max-width: 800px; margin: 0 auto" th:object="${doctor}">
    <input type="hidden" th:field="*{id}">
    <div class="border border-secondary rounded p-2 justify-content-center">
        <div class="form-group-row justify-content-center">
            <label class="col-sm-4 col-form-label">First Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{firstName}" required minlength="3" maxlength="25"/>
            </div>
        </div>
        <div class="form-group-row justify-content-center">
            <label class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{lastName}" required minlength="3" maxlength="25"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-form-label">Age</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" th:field="*{age}" required minlength="8" maxlength="20"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-form-label">Experience</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" th:field="*{experience}" required minlength="8" maxlength="40"/>
            </div>
        </div>
        <div class="form-group-row">
            <label class="col-sm-4 col-form-label">Select specialization/s:</label>
            <div class="col-sm-8">
                <select class="form-control" th:field="*{categories}"
                        multiple required style="resize: vertical; height: 300px">
                    <th:block th:each="sp : ${listSpecializations}">
                        <option th:value="${sp.id}">[[${cat.specialization}]]</option>
                    </th:block>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Chosen categories:</label>
            <div class="col-sm-8">
                <div id="chosenCategories">

                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <input type="submit" value="Save" class="btn btn-primary">
            <input type="button" value="Cancel" class="btn btn-secondary ml-2">
        </div>
    </div>
</form>

<div>
    <p class="text-center mt-lg-5">Endava Project - Copyright &copy; Project</p>
</div>

<script type="text/javascript">
    $(document).ready(function (){
        dropdownCategories = $("#categories");
        divChosenCategories = $("#chosenCategories");

        dropdownCategories.change(function () {
            divChosenCategories.empty();
            showChosenCategories();
        });
    });

    function showChosenCategories() {
        dropdownCategories.children("option:selected").each(function () {
            selectedCategory = $(this);
            catId = selectedCategory.val();
            catName = selectedCategory.text().replace(/-/g, "");

            alert(catID + ": " + catName);
            divChosenCategories.append("<span class='badge badge-secondary m-1'>" + catName + "</span>");
        })
    }
</script>
</body>
</html>


